{% extends 'base.html.twig' %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.14/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.14/angular-route.js"></script>
    <script>

        var app = angular.module("myApp", []);

        app.controller('mySampleController', ['$scope', function ($scope) {
            console.log('thing')
            $scope.thing = 'here im here';
            $scope.openSampleModal = function () {

                console.log('openSampleModal')

                // var modalInstance = $uibModal.open({
                //     animation: true,
                //     size: 'lg',
                //     // templateUrl: 'views/modal-template/sampleModal.html',
                //     template: '<div>SDFSDFJL</div>',
                //     controller: 'sampleModalController',
                // });
                // modalInstance.result.then(function () {
                //
                // }, function () {
                //
                // });
            };
        }]);

        // app.controller('sampleModalController', ['$scope','$uibModalInstance', function ($scope, $uibModalInstance){
        //     console.log('asdfasdf')
            // $scope.close = function () {
            //     // $uibModalInstance.dismiss('cancel');
            // };
        // }]);

        // app.controller("myCtrl", function($scope) {
        //     $scope.products = ["Milk", "Breaddd", "Cheese"];
        // });
        // .config(function($interpolateProvider){
        //     $interpolateProvider.startSymbol('{:').endSymbol(':}');
        // });
    </script>

{% endblock %}

{% block body %}
    <div class="container" ng-app="myApp">
        <div class="row mb-3">
            <div class="col">
                <button class="btn btn-question">Ask a Question</button>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div style="box-shadow: 2px 3px 9px 4px rgba(0,0,0,0.04);">
                    <div class="q-container p-4">
                        <div class="row">
                            <div class="col-2 text-center">
                                <div class="d-block mt-3 vote-arrows">
                                    <a class="vote-up" href="#"><i class="far fa-arrow-alt-circle-up"></i></a>
                                    <a class="vote-down" href="#"><i class="far fa-arrow-alt-circle-down"></i></a>
                                </div>
                            </div>

                            <div class="col">
                                <div ng-controller="mySampleController">
                                    {% verbatim %}
                                      <a href="#" ng-click="openSampleModal()"><span >{{thing}}</span></a>
                                    {% endverbatim %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="answer-link" href="#" style="color: #fff;">
                        <p class="q-display-response text-center p-3">
                            <i class="fa fa-magic magic-wand"></i> 6 answers
                        </p>
                    </a>
                </div>
            </div>

            <div class="col-12 mt-3">
                <div class="q-container p-4">
                    <div class="row">
                        <div class="col-2 text-center">
                            <div class="d-block mt-3 vote-arrows">
                                <a class="vote-up" href="#"><i class="far fa-arrow-alt-circle-up"></i></a>
                                <a class="vote-down" href="#"><i class="far fa-arrow-alt-circle-down"></i></a>
                            </div>
                        </div>
                        <div class="col">

                        </div>
                    </div>
                </div>
                <a class="answer-link" href="" style="color: #fff;">
                    <p class="q-display-response text-center p-3">
                        <i class="fa fa-magic magic-wand"></i> 15 answers
                    </p>
                </a>
            </div>
        </div>
    </div>
{% endblock %}

