{% extends 'base.html.twig' %}
{# Create LiftRecord Controllers#}
{# Create LiftRecord Service#}
{# Rebuild table#}
{% block body %}
    <div class="container" ng-app="myApp" ng-controller="rxLiftRecordCtrl">
        <div class="row">
            <h2>
                <span class="add-lift-record-form">Lifts</span>
                <span class="add-lift-record-form-2-add hidden">Add Lift</span>
                <a href="#" class="btn btn-md btn-success pull-right add-lift-record-form">
                    <span class="fa fa-plus"></span> Add
                </a>
            </h2>

            <table class="table table-striped" >
                <thead>
                <tr>
                    <th>Exercise</th>
                    <th>Rep Scheme</th>
                    <th>Weight</th>
                    <th>Comment</th>
                    <th>Created</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                        <tr ng-repeat="lift_record in lift_records">
                            <td><a href="lift_record/edit/{: lift_record.id :}">{: lift_record.id :}</a></td>
                            <td>{: lift_record.exercise :}</td>
                            <td>{: lift_record.repScheme :}</td>
                            <td>{: lift_record.weight :}</td>
                            <td>{: lift_record.comment :}</td>
                            <td></td>
                            <td></td>
                        </tr>
                </tbody>
            </table>

            <br>
            <div class="form-group">
                <form class="form-inline">
                    <div><label for="date">Created</label> <input class="createdAt" type="date" name="createdAt" ng-model="newLiftRecord.createdAt" id="createdAt" value="{{ "now"|date("Y-m-d") }}" class="form-control" required></div><br>
                    <div><label for="exercise">Exercise</label> <input class="exercise" type="text" name="exercise" ng-model="newLiftRecord.exercise" id="exercise" value="" class="form-control" required></div><br>
                    <div><label for="repScheme">Rep Scheme</label> <input class="repScheme" type="text" name="repScheme" ng-model="newLiftRecord.repScheme" id="repScheme" value="" class="form-control" required></div><br>
                    <div><label for="weight">Weight</label> <input class="weight" type="text" name="weight" ng-model="newLiftRecord.weight" id="weight" value="" class="form-control" required></div><br>
                    <div><label for="comment">Comment</label> <input class="comment" type="text" name="comment" ng-model="newLiftRecord.comment" id="comment" value="" class="form-control"></div><br>
                    <br>
                    <div><div class="btn btn-primary" ng-click="addLiftRecord()">Submit</div>
                </form>
            </div>
        </div>
    </div>
    <script>
    </script>
{% endblock %}
