{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <h2>
                <span class="add-lift-record-form">Lifts</span>
                <span class="add-lift-record-form-2-add hidden">Add Wod</span>
                <a href="#list-stuff-form" class="btn btn-md btn-success pull-right add-lift-record-form">
                    <span class="fa fa-plus"></span> Add
                </a>
            </h2>

            <table class="table table-striped js-lift-record-log-table" >
                <thead>
                <tr>
                    <th>Exercise</th>
                    <th>Rep Scheme</th>
                    <th>Weight</th>
                    <th>Comment</th>
                    <th>Created</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>

            <br>
            <div class="form-group add-wod hidden">
                <form class="form-inline js-new-lift-record-form-add" data-url="api/lift_records">
                    <div><label for="date">Created</label> <input class="createdAt" type="date" name="createdAt" id="createdAt" value="{{ "now"|date("Y-m-d") }}" class="form-control" required></div><br>
                    <div><label for="exercise">Exercise</label> <input class="exercise" type="text" name="exercise" id="exercise" value="" class="form-control" required></div><br>
                    <div><label for="repScheme">Rep Scheme</label> <input class="repScheme" type="text" name="repScheme" id="repScheme" value="" class="form-control" required></div><br>
                    <div><label for="weight">Weight</label> <input class="weight" type="text" name="weight" id="weight" value="" class="form-control" required></div><br>
                    <div><label for="comment">Comment</label> <input class="comment" type="text" name="comment" id="comment" value="" class="form-control"></div><br>
                    <br>
                    <div><div class="btn btn-primary">Submit</div>
                </form>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script>
        // TODO move to external file
        // TODO refactor to object

        $(document).ready(function() {
            var $table = $('.js-lift-record-log-table');

            function convertFormToJSON(form) {
                const array = $(form).serializeArray(); // Encodes the set of form elements as an array of names and values.
                const json = {};
                $.each(array, function () {
                    json[this.name] = this.value || "";
                });
                return json;
            }

            $('.add-lift-record-form').on('click', function (e) {
                $('.add-wod.hidden:first').removeClass("hidden");
                $('.js-lift-record-log-table').addClass("hidden");
                $('.add-lift-record-form').addClass("hidden");
                $('.add-lift-record-form-2-add').removeClass("hidden");
                console.log('add wod');
            });

            // TODO update for Add/Edit
            $('.js-new-lift-record-form-add').unbind('click').find('.btn-primary').on('click', function (e) {
                e.preventDefault();

                var newWodUrl = $(this).closest('form').data('url');
                var $form = $(this).closest('form');

                var json = convertFormToJSON($form);
                json.weight = parseInt(json.weight);
                var self = this;
                $.ajax({
                    url: newWodUrl,
                    method: 'POST',
                    dataType: 'json',
                    data: JSON.stringify(json),
                    contentType: 'application/json',
                    success: function(result){
                        $table.find('tr').remove();
                        $table.append('<tr class="loader"><td colspan="6" style="text-align: center;"><span class="loader fa fa-circle-o-notch fa-spin"></span></td></tr>');
                        loadLiftRecords();

                        $('.add-wod').addClass("hidden");
                        $('.js-lift-record-log-table.hidden:first').removeClass("hidden");
                        $('.add-lift-record-form').removeClass("hidden");
                        $('.add-lift-record-form-2').addClass("hidden");
                    },
                    error: function(request,status,errorThrown) {
                        console.log(request.responseJSON.violations);
                    }
                });
            });

            var $form = $table.closest('form');

            var loadLiftRecords = function (e) {
                $table.append('<tr class="loader"><td colspan="5" style="text-align: center;"><span class="loader fa fa-circle-o-notch fa-spin"></span></td></tr>');

                console.log($('.createdAt'));

                var dateFilter = document.getElementById('createdAt').getAttribute('value');
                $.ajax({
                    url: 'api/lift_records.json',
                    method: 'GET',
                }).then(function(data) {
                    $('tr.loader').remove();
                    // console.log(data)
                    $.each(data, function(d, dat) {
                        dat.createdAt = dat.createdAt.split('T')[0];
                        // console.log(dat.createdAt);

                        var html = '<tr data-url="api/lift_records/' + dat.id + '">' +
                            '<td>'+ dat.exercise +'</td>' +
                            '<td>'+ dat.repScheme +'</td>' +
                            '<td>'+ dat.weight +'</td>' +
                            '<td>'+ dat.comment +'</td>' +
                            '<td>'+ dat.createdAt +'</td>' +
                            '<td><a href="#"><span class="fa fa-trash js-delete-lift-record" data-url="api/lift_records/' + dat.id + '"></span></a></td></tr>';
                        $table.append(html);
                    });
                    deleteWod();
                });
            };

            loadLiftRecords();

            var handleRepLogDelete = function (e) {
                e.preventDefault();
                var $link = $(e.currentTarget);
                var deleteUrl = $link.data('url');

                $link.addClass('text-danger');
                $link.find('.fa')
                    .removeClass('fa-trash')
                    .addClass('fa-spinner')
                    .addClass('fa-spin');

                var $row = $link.closest('tr');
                $.ajax({
                    url: deleteUrl,
                    method: 'DELETE',
                }).then(function() {
                    $row.fadeOut();
                }).catch(function (arg) {
                });
            };

            // console.log($('.fa-trash'));

            var deleteWod = function () {
                $('.fa-trash').on('click', function (e) {
                    e.preventDefault();
                    e.stopPropagation();
                    handleRepLogDelete(e);
                });
            }

            $table.on(
                'click',
                'tbody tr',
                function (e) {
                    // e.preventDefault();
                    var $link = $(e.currentTarget);
                    var wodUrl = $link.data('url');

//                     console.log($link, wodUrl)
// return;

                    // $('.add-lift-record-form').addClass("hidden");

                    $.ajax({
                        url: wodUrl,
                        method: 'GET',
                    }).then(function(data) {
                        console.log(data)
                        $('#exercise').val(data.exercise);
                        $('#repScheme').val(data.repScheme);
                        $('#weight').val(data.weight);
                        $('#comment').val(data.comment);
                        $('#id').val(data.id);
                    });
                }
            );
        });
    </script>
{% endblock %}
