{% extends 'base.html.twig' %}

{% block body %}
    <div class="container" ng-app="myApp" ng-controller="RxWodEditCtrl" data-wod-id="{{ wod.id }}">
        <div class="row">
            <div class="col-12">
                <div>
                    <div class="q-container-show p-4">
                        <div class="row">
                            <div class="col">
                                <div class="q-container-show q-display p-3">
                                    <h2>Edit Wod {:wod.createdAt:}</h2>
                                    <div class="btn btn-md btn-success pull-right" ng-click="deleteWod({:wod.id:})">
                                        <span class="fa fa-trash"></span> Delete
                                    </div>
                                    <div class="form-group">
                                        <div class="form-group">
                                            <form class="form-inline" novalidate>
                                                <div><label for="date">Date</label> <input type="date" name="createdAt" value="{:wod.createdAt:}" ng-model="wod.createdAt"></div><br>
                                                <div><label for="wod">Wod </label> <textarea rows="4" style="width: 33%; height: 300px; display: block; resize: vertical;" ng-model="wod.wod" name="wod"></textarea></div>
                                                <br>
                                                <div><div class="btn btn-primary" ng-click="editWod()">Submit</div>
                                            </form>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
{% endblock %}
