{% extends 'base.html.twig' %}

{% block body %}
    <div class="container" ng-app="myApp" ng-controller="rxWodsCtrl">
        <div class="row">
            <h2>
               <span class="add-wod-form">Wods</span>
                <span class="add-wod-form-2">Add Wod</span>
                <a href="#list-stuff-form" class="btn btn-md btn-success pull-right add-wod-form">
                    <span class="fa fa-plus"></span> Add
                </a>
            </h2>

            <table class="table table-striped" js-wod-log-table>
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Wod</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="wod in wods" ng-click="getWod(wod.id)">
                        <td>{:wod.createdAt.split('T')[0]:}</td>
                        <td ng-bind-html="wod.wod.substring(0,110)|trustAsHtml"></td>
                        <td><span class="fa fa-trash js-delete-wod" ng-click="deleteWod(wod.id)"></span></td>
                    </tr>
                </tbody>
                <tfoot>
                <nav aria-label="...">
                    <tr>
                        <td>
                            <ul class="pagination">
                                <li class="page-item">
                                    <a class="page-link" href="#" ng-click="prevPage()">Previous</a>
                                </li>
                                <li class="page-item active">
                                    <a class="page-link" href="#" >{:loadedPage:} <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#" ng-click="gotoPage(loadedPage + 1)">{:loadedPage + 1:}</a></li>
                                <li class="page-item"><a class="page-link" href="#" ng-click="gotoPage(loadedPage + 2)">{:loadedPage + 2:}</a></li>
                                <li class="page-item">
                                    <a class="page-link" ng-click="nextPage()" href="#">Next</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </nav>
                </tfoot>
            </table>

            <br>
            <div class="form-group">
                <form class="form-inline">
                    <div><label for="date">Date</label> <input type="date" name="createdAt" ng-model="newWod.createdAt"></div><br>
                    <div><label for="wod">Wod </label> <textarea style="width: 33%; height: 250px; display: block; resize: vertical;" name="wod" ng-model="newWod.wod" required></textarea></div>
                    <br>
                    <div><div class="btn btn-primary" ng-click="addWod()">Submit</div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

