{% extends 'base.html.twig' %}

{% block javascripts %}
    <script src="{{ asset('base.js') }}"></script>
    <script src="{{ asset('wod_show.js') }}"></script>
{% endblock %}

{% block body %}

 <div class="container" ng-app="myApp" ng-controller="RxWod-ShowCtrl">
     test
 </div>

{% endblock %}
